{% extends 'blog/base.html' %}
{% load static %}
{% load avatar_tags %}
{% block title %}
  My Profile
{% endblock %}
{% block profile %}
  <h3 style="color: #005cbf; margin-top: 10px;">Hi {{ user.username }}</h3>
  {% avatar user 250 class="img-circle img-responsive" %}<br><br>
  <a class="btn btn-outline-primary" href="{% url 'avatar_change' %}">
    Change your avatar
  </a>
  <a style="margin-top: 10px;" class="btn btn-outline-primary" href="{% url 'accounts:liked_posts' %}">
    see posts you like
  </a>
{% endblock %}
{% block content %}
  <h4 style="margin-top: 10px;" class="page-header">Your Posts</h4>
  <div class="row">
    <div class="col col-xs-12">
      <div class="blog-grids">
        {% for post in posts %}
          <div class="grid">
            <div class="entry-media">
              <img src="{% if post.image %}
                          {{ post.image.url }}
                        {% else %}
                          {% static 'imgs/default.jpg' %}
                        {% endif %}" alt="...">
            </div>
            <div class="entry-body">
              <h3><a href="{% if request.user.is_authenticated %}
                             {{ post.get_absolute_url }}
                           {% else %}
                             {% url 'accounts:login' %}
                           {% endif %}">{{ post.title }}</a></h3>
              <hr>
              <p>{{ post.body|truncatewords:25|linebreaks }}</p>
              <hr>
              <p class="small">Published {{ post.publish }} by {{ post.author }}</p>
              <div class="read-more-date">
                <a href="{% if request.user.is_authenticated %}
                           {{ post.get_absolute_url }}
                         {% else %}
                           {% url 'accounts:login' %}
                         {% endif %}">Read More..</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}