<div class="container">
  <div class="row">
    <span class="pagination">
      {% if page.has_previous %}
        <a class="btn btn-outline-info" href="?page={{ page.previous_page_number }}">previous</a>
      {% endif %}
      <span class="active" style="margin: 10px;">
        page {{ page.number }} of {{ page.paginator.num_pages }}
      </span>
      {% if page.has_next %}
        <a class="btn btn-outline-info" href="?page={{ page.next_page_number }}">next</a>
      {% endif %}
    </span>
  </div>
</div>